/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Type */
body {
	font: 0.75em/1.65 'Helvetica Neue', sans-serif;
	color: #000;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:focus {
	outline: none;
}

h1 {
	font-size: 3.4em;
	font-weight: 300;
	line-height: 1.3;
}

h2 {
	font-size: 3.2em;
	font-weight: 300;
}

h3 {
	font-size: 2em;
	font-weight: 300;
	line-height: 1.2;
}

h4 {
	font-size: 1.5em;
	font-weight: 400;
}

h5 {
	font-size: 1.167em;
	font-weight: 400;
}

h6 {
	font-size: 0.833em;
	font-weight: 400;
}

p {
	/* font-size: 1.333em; */
	font-size: 1.5em;
	font-weight: 400;
}

span {
	font-weight: 400;
}

hr {
	border: 0 #ccc solid;
	border-top-width: 1px;
	clear: both;
	height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
dl,
pre,
table,
address,
fieldset,
p,
hr {
	margin-bottom: 20px;
}

strong {
	font-weight: bold;
}

/* Global */
#home {
	/* background: #F9B1B1; */
	background: #ccc;
}

#header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 64px;
	z-index: 99;
}

h1,
button {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	letter-spacing: 4px;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}

#header h1 {
	line-height: 64px;
	border-bottom: 1px solid rgb(0, 0, 0);
	border-bottom: 1px solid rgba(0, 0, 0, .26);
	-webkit-background-clip: padding-box;
	/* for Safari */
	background-clip: padding-box;
	/* for IE9+, Firefox 4+, Opera, Chrome */
}

#main {
	position: relative;
	width: 100%;
	height: 100%;
}

#search {
	width: 560px;
	margin: 0px auto 56px auto;
}

#chart {
	position: relative;
	width: 960px;
	margin: 80px auto 56px auto;
}

#text {
	width: 960px;
	margin: 80px auto 56px auto;
}

#footer {
	/* height: 200px; */
}

button {
	background-color: #000;
	border: none;
	color: #fff;
	margin: 0 auto;
	padding: 18px 48px;
	text-decoration: none;
	display: block;
	cursor: pointer;
}

.notes {
	visibility: hidden;
	position: relative;
	text-align: center;
	font-family: "Noto Serif JP", serif;
	font-size: 1.3em;
	font-weight: 100;
	line-height: 1.3;
	margin-bottom: 40px;
}

.notes--bold {
	font-weight: bold;
}

.barHolder {
	/* top: 100px; */
	position: relative;
	text-align: center;
	/* border: solid red;
	border-width: 4px; */
	margin-bottom: 40px;
}

.bars {
	background-color: white;
	width: 10px;
	height: 160px;
	border-radius: 50px;
	display: inline-block;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 40px;
	vertical-align: middle;
	cursor: pointer;
	opacity: 1;
}

.bars:hover {
	opacity: .5;
	transition: opacity 0.4s;
}

.desc {
	display: none;
	position: absolute;
	background: #fff;
	width: 240px;
	padding: 20px;
	border-width: 0 2px 2px 0;
	border-style: solid;
}

.illustrations--header {
	text-align: left;
	font-style: italic;
	font-weight: bold;
	font-family: "Noto Serif JP", serif;
	font-size: 10px;
	line-height: 1.3;
	margin-bottom: 10px;
}

.illustrations--paragraph {
	text-align: left;
	font-family: "Noto Serif JP", serif;
	font-size: 12px;
	font-weight: 200;
	line-height: 1.3;
}

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 0;
	width: 560px;
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #fff;
	color: #000;
	font-family: "Noto Serif JP", serif;
	font-size: 64px;
	-webkit-appearance: none;
	/* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	/* padding: 0 1em;
	width: 40%; */
	color: #fff;
	font-family: "Noto Serif JP", serif;
	font-size: 64px;
	/* font-weight: bold;
	font-size: 70.25%; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	/* padding: 1.6em 0; */
	width: 100%;
}

/* Hoshi */
.input--hoshi {
	overflow: hidden;
}

.input__field--hoshi {
	margin-top: 0;
	padding: 24px 0;
	width: 100%;
	background: transparent;
	color: #000;
}

.input__label--hoshi {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 24px 0;
	width: 100%;
	height: calc(100% - 1em);
	text-align: left;
	pointer-events: none;
}

.input__label-content--hoshi {
	position: absolute;
	top: 0;
}

.input__label--hoshi::before,
.input__label--hoshi::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 10px);
	border-bottom: 4px solid #fff;
}

.input__label--hoshi::after {
	/* margin-top: 2px; */
	border-bottom: 4px solid black;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--error {
	animation: shake .5s linear;
}

.input__label--hoshi-color-0::after {
	border-color: #000;
}

.input__label--hoshi-color-1::after {
	border-color: hsl(200, 100%, 50%);
}

.input__label--hoshi-color-2::after {
	border-color: hsl(160, 100%, 50%);
}

.input__label--hoshi-color-3::after {
	border-color: hsl(20, 100%, 50%);
}

.input__field--hoshi:focus+.input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input__field--hoshi:focus+.input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
	-webkit-animation: anim-1 0.3s forwards;
	animation: anim-1 0.3s forwards;
}

@-webkit-keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	51% {
		opacity: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	51% {
		opacity: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

/* Shaking animation */
@keyframes shake {

	8%,
	41% {
		transform: translateX(-10px);
	}

	25%,
	58% {
		transform: translateX(10px);
	}

	75% {
		transform: translateX(-5px);
	}

	92% {
		transform: translateX(5px);
	}

	0%,
	100% {
		transform: translateX(0);
	}
}
